<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Books</title>
    <link href="../static/css/AllBooks.css" th:href="@{/css/AllBooks.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
    <a href="/" class="back-button">Назад</a>

    <h1>Все книги</h1>

    <div class="book-list">
        <!-- Thymeleaf цикл для отображения книг -->
        <div th:each="book : ${shelf}" class="book-item">
            <a th:href="@{/AllBooks/{ID}(ID = ${book.getID()})}"
               th:text="${book.getTitle()} + ' ' + ${book.getAuthor()}"
               class="book-link">
            </a>
        </div>
    </div>
</div>
</body>
</html>